*{
    margin:0;
    padding:0;
}
img{
    width:100%;
}
.bg-color{
    background-color:rgb(236, 227, 227);
}
.logo-image{
    width:80px;
    height:80px;
    border-radius: 50%;
    margin-left: 170px;
}
.nav-margin{
    margin-left:350px;
}
.nav-color{
    font-size:20px;
    color:blanchedalmond;
    font-weight: bolder;
}
.nav-color:hover{
    color:black!important;
}
.ac-color{
    color:black!important;
}




.carousel-indicators {
    position: absolute;
    right: 0;
    bottom: 110px;
    left: 0;
    z-index: 15;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    padding-left: 0;
    margin-right: 15%;
    margin-left: 15%;
    list-style: none;
}
.indicat{
    border:1px solid white;
    width:16px;
    height: 16px;
    border-radius: 50%;
    position:relative;
    
}
.indicat1{
    border:1px solid white;
    width:16px;
    height: 16px;
    border-radius: 50%;
    position:relative;
    left:1%;
    
}
.carousel-indicators li {
    box-sizing: content-box;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    width: 10px;
    height: 10px;
    margin-right: 3px;
    margin-left: 3px;
   text-indent: -999px;
    cursor: pointer;
    background-color: white;
    background-clip: padding-box;
    border-radius: 50%;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    opacity: .5;
    transition: opacity .6s ease;
    padding: 1px 1px;
    position: absolute;
    top: -9px;
    right:-2px;
    
}
.carousel-indicators .active li {
    opacity: 1;
}
.carousel-fade .carousel-item{
    opacity: 0;
     transition-duration: .6s;
     transition-property: opacity;
 
 }
 .carousel-fade .carousel-item-next,
 .carousel-fade .carousel-item-prev{
     opacity:1;
 
 }
 .carousel-fade .active.carousel-item-next,
 .carousel-fade  .active.carousel-item-prev{
     opacity:0;
     
 }
 .carousel-fade .active.carousel-item-next,
 .carousel-fade  .active.carousel-item-prev,
 .carousel-fade .carousel-item-next,
 .carousel-fade .carousel-item-prev
 {
     transform:translateX(0);
     transform:translate3d(0px, 0px, 0px);
     transition:0.5s;
  
 }
 .indicator-1,
.indicator-2{
    opacity:1;
}
.carousel-inner .carousel-item > .c-image,
.carousel-inner .carousel-item  > .c-image{
    -webkit-animation: thing 20s;
    -o-animation: thing 20s;
    animation:thing 20s;
}
@keyframes thing{
    from{
        transform: scale(1,1);
    }
    to{
        transform: scale(1.5,1.5); 
    }
}
.banner-image{
    position:relative;
}
.bg-text{
    position:absolute;
    z-index:1;
    top:20%;
    left:12%;
}
.text1{
    font-size:50px;
    font-weight:bolder;
    color:burlywood;
}
.text2{
    font-size:25px;
}
.color-overlay{
    background-color:#00000098!important;
    width: 100%;
    height: 126vh;
    position: absolute;
    z-index:1;
}
.bg-get{
  background-image:url("images/code5.jpg");
  height:200px;
  background-position:center;
  background-size:cover;
}
.color-overlay1{
    background-image:linear-gradient(to right,rgb(236, 227, 227),rgba(238, 189, 189, 0.9));
    width:100%;
    height:200px;
}
.my-btn{
    background-color: black;
    color:white;
    border-radius: 25px;
    margin-left:330px;
    margin-top:50px;
}
.my-btn:hover{
    background-color:white;
    color:black;
    animation: flipOutY 2s linear;
    box-shadow:0 0 10px white;
    transition:0.7s;
    font-weight: bold;
}
.get-text1{
    font-size:30px;
    font-weight:bold;
    margin-top:50px;
}
.header-about{
    margin-top:100px;
    
    font-size:20px;
}
.header-about-text{
    font-weight:bold;
    color:rgba(221, 94, 94, 0.9);
}   
.bold{
    font-weight:bold;
}
.bg-black{
    background-image:url("images/bb11.jpg");
    height:120vh;
    background-attachment:fixed ;
    background-position: center;
    background-size:cover;
    background-repeat: no repeat;
    margin-top:80px;
}
.para-margin{
    margin-top:120px;
}
.image-os{
    margin-top:150px;
}
.header-algo-text{
    margin-top:70px;
    color:rgba(221, 94, 94, 0.9);
    font-weight: bold;
}
.header-algo {
    color:black;
    font-size:20px;
}
.image-fcfs{
    width:300px;
    height:200px;
    position:absolute;
    left:20%;
   
}
.carousel-text{
    width:700px;
    height:500px;
    background-color:transparent;
    margin-left:190px;
    position:relative;
}
.c-margin{
   margin-top:100px;
}
.header-fcfs{
    position:absolute;
    top:50%;
    color:rgb(15, 14, 14);;
    font-weight:bold;
}
.fcfs-text{
    position:absolute;
    top:60%;
    color:black;
    font-weight:bold;
}
.carousel-control-next-margin{
    position: absolute;
    top: 0;
    bottom: -3px;
    right: 180px;
        z-index: 1;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-align: center;
        align-items: center;
        -ms-flex-pack: center;
        justify-content: center;
        width: 15%;
        color: #fff;
        text-align: center;
        opacity: .5;
        transition: opacity .15s ease;
    
}
 .carousel-control-prev-margin {
    position: absolute;
    top: 0;
    bottom: -3px;
    left: 100px;
    z-index: 1;
    z-index: 1;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 15%;
    color: #fff;
    text-align: center;
    opacity: .5;
    transition: opacity .15s ease;
}
.header-process{
    color:rgba(221, 94, 94, 0.9);
    font-weight:bold;
    margin-top:50px;
}
.header-process-1{
    margin-top:100px;
}
footer{
    background-color:rgb(236, 227, 227);
    width: 100%;
    height:150px;
    margin-top:50px;
   }
.logo-text{
    color:rgba(221, 94, 94, 0.9);
    font-weight:bold;
   }

.f-text{
    font-size:22px;
   color: black!important;
}

.log{
  margin-left:30px;
}
a.a1:link, a.a1:visited {
    color: black;
    padding: 11px 11px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 30px;
    background-color:rgba(200, 132, 132, 0.9);
    font-weight: bold;

    
  }
  a.a1:hover, a.a1:active {
    background: rgba(255, 255,255, .3);
    color:black;
    border-radius: 30px;
    transition: 0.7s;
    box-shadow: 0px 0px 10px #000000;
  }











@media  screen and (min-width:992px){
    .carousel-indicators {
        position: absolute;
        right: 0;
        bottom: 30px;
        left: 0;
        z-index: 15;
    }
    .my-btn{
        margin-left:100px;
    }
    .carousel-control-next-margin{
        position: absolute;
        top: 0;
        bottom: -3px;
        right: 200px;
        
    }
     .carousel-control-prev-margin {
        position: absolute;
        top: 0;
        bottom: -3px;
        left: 100px;
    }
   
    
    
}

@media screen and (min-width:768px) and (max-width:991px){
    .carousel-indicators {
        position: absolute;
        right: 0;
        bottom: 0px;
        left: 0;
        z-index: 15;
    }
    .text1{
        font-size:33px;
        font-weight:bolder;
    }
    .text2{
        font-size:20px;
    }
    .get-text1{
        font-size:20px;
        
    }
    .my-btn{
        margin-left:100px;
        
    }
    .carousel-control-next-margin{
        position: absolute;
        top: 0;
        bottom: -3px;
        right: 50px;
        
    }
     .carousel-control-prev-margin {
        position: absolute;
        top: 0;
        bottom: -3px;
        left: 0px;
    }
    .carousel-text{
        margin-left:20px;
        position:relative;
    }
    .header-fcfs{
        font-size: 20px;
    }
    .fcfs-text{
        position:absolute;
        top:55%;
        font-size: 15px;
    }


    
}

@media screen and (min-width:576px) and (max-width:767px){
    .carousel-indicators {
        position: absolute;
        right: 0;
        bottom: 0px;
        left: 0;
        z-index: 15;
    }
    .text1{
        font-size:25px;
        font-weight:bolder;
    }
    .text2{
        font-size:15px;
    }
    .text-3-sm{
        font-size:12px;
    }
    .get-text1{
        font-size:20px;
        margin-top:30px;
        
    }
    .my-btn{
        margin-left:50px;
        
    }
    .carousel-control-next-margin{
        position: absolute;
        top: 0;
        bottom: -3px;
        right: 0px;
        
    }
     .carousel-control-prev-margin {
        position: absolute;
        top: 0;
        bottom: -3px;
        left: 0px;
    }
    .carousel-text{
        width:500px;
        height:500px;
        margin-left:0px;
        position:relative;
    }
    .header-fcfs{
        font-size: 16px;
    }
    .fcfs-text{
        position:absolute;
        top:55%;
        font-size: 12px;
    }
    .image-fcfs{
        position:absolute;
        left:20%;
       
    }
    .para-margin{
        margin-top:120px;
        font-size: 15px;
    }
    .image-os{
        margin-left:60px;
        margin-top:300px;
    }
    


}
@media screen and (max-width:575px){
    .carousel-indicators {
        position: absolute;
        right: 0;
        bottom: 0px;
        left: 0;
        z-index: 15;
    }
    .nav-margin{
        margin-left:0px;
    }
    .bg-text{
        position:absolute;
        z-index:1;
        top:8%;
        left:12%;
    }
    .text1{
        font-size:15px;
        font-weight:bolder;
        margin-bottom: 0px!important;
    }
    .text2{
        font-size:13px;
        margin-bottom: 0px!important;
    }
    .text-3-sm{
        font-size:10px;
    }
    .get-text1{
        font-size:20px;
        margin-top:20px;
        
    }
    .my-btn{
        margin-left:70px;
        margin-top:0px;
    }
    .image-fcfs{
        width:200px;
        height:100px;
        position:absolute;
        left:10%;      
    }
    .bg-black{
        height:110vh;
    }
    .carousel-control-next-margin{
        position: absolute;
        top: 0;
        bottom: 400px;
        right: 0px;
        
    }
     .carousel-control-prev-margin {
        position: absolute;
        top: 0;
        bottom: 400px;
        left: 0px;
    }
    .carousel-text{
        width:600px;
        height:500px;
        margin-left:0px;
        position:relative;
    }
    .header-fcfs{
        position:absolute;
        top:25%;
        font-size: 16px;
    }
    .fcfs-text{
        position:absolute;
        top:30%;
        font-size: 10px;
    }
    .f-text{
        font-size:15px;
    
    }
    .header-process{
        font-size:25px;
    }
    .header-process-1{
        font-size:25px;
    }
    .header-algo-text{
        font-size:25px;
    }
    .header-algo{
        font-size:20px;
    }
    .header-about-text{
        font-size:25px;
    }
    .header-about{
        font-size:12px;
    }

}